<div class="container">
      <div class="row">
        <div class="col-lg-6">
          <form ng-submit="search()" class="input-group" >
            <input id="searchBar" type="text" class="form-control" ng-model="model.searchTerm" placeholder="Search">
            <span class="input-group-btn">
            <a class="btn btn-default" ng-click="clearSearchResults()"><i class="glyphicon glyphicon-remove"></i></a>
            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </span>
          </form>
        </div>
      </div>
      <div class="row" ng-repeat="result in model.searchResults" ng-click="queueVideo(result)">
        <div class="col-xs-5"><img src="{{result.thumbnailUrl}}"></div>
        <div class="col-xs-6">
          <p>{{result.title}}</p>
          <p>{{result.duration}}</p>
          <p>{{result.views}} views</p>
        </div>
      </div>
      <button id="loadNextItem" class="btn btn-primary" ng-click="loadNextItem()" style="display: none">Load more</button>
      <h4 class="text-muted" id="loadingMessage">Loading...</h4>
    </div>